@using runnerDotNet;
@{
 XTempl Model = this.Model;
 if(ViewBag != null && ViewBag.xt != null)
 {
  Model = ViewBag.xt;
  if(Model != null)
  {
   Model.currentViewContext = ViewContext;
  }
 }
 string webRootPath = "";
}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">@(new HtmlString(MVCFunctions.GetBuferContentAndClearBufer()))
<html lang="en">
    <head>
        <title>Report: Totals</title>
		<META http-equiv="X-UA-Compatible" content="IE=Edge" />
        <LINK type="text/css" href="styles/default.css" rel="stylesheet" />
		<LINK type="text/css" href="styles/@(Model.displayVar("wr_pagestylepath"))/style.css" rel="stylesheet" />
        @(Model.displayVar("h_includes"))
    </head>
    <BODY class="@(Model.displayVar("wr_pagestylepath"))">
        @(Model.displayVar("b_includes"))
		@{Html.RenderSharedView("header");}
		<div class="rnr-page">
			<div class="rnr-top">
				<DIV class="rnr-s-1 @(Model.displayVar("wr_pagestylepath"))">
					<div class="rnr-c rnr-cv">
						<div class="style2" align=center>
							Report: Totals@(Model.displayVar("report_title"))@(Model.displayVar("report_table"))
						</div>
						<div class="style1 rnr-b-wrapper">
							<DIV class="rnr-s-fields @(Model.displayVar("wr_pagestylepath"))">
								<div class="rnr-c rnr-cv">
									<div class="style1">
										<table class="fieldGrid" id="trt">
											<tr>
												<td width="20%" colspan=2>Field Name</td>
												<td align=center width="20%"></td>
												<td align=center  name=show_fields>Show</td>
												<td align=center >Min</td>
												<td align=center >Max</td>
												<td align=center >Sum</td>
												<td align=center >Avg</td>
												<td align=center >Curr</td>
											</tr>
											<tr >
												<td  width="20%" colspan=2>&nbsp;</td>
												<td  width="20%">&nbsp;</td>
												<td align=center   name=show_fields><INPUT type=checkbox id=allshow /></td>
												<td align=center  ><INPUT type=checkbox id=allmin /></td>
												<td align=center  ><INPUT type=checkbox id=allmax /></td>
												<td align=center  ><INPUT type=checkbox id=allsum /></td>
												<td align=center  ><INPUT type=checkbox id=allavg /></td>
												<td align=center  ><INPUT type=checkbox id=allcurr /></td>
											</tr>
											@(Model.displayVar("tgFields"))
										</table>
									</div>
									<div class="style2" align=center id="btns">
										<A id="backbtn" name="backbtn" class="rnr-button" href="#">Back</a>
										<span style="position:absolute;" id="jumptospan"></span>
										<A id="jumpto" name="jumpto" class="rnr-button" href="#" onclick="event.cancelBubble = true;return false;" onmouseover="event.cancelBubble = true;return false;">Jump to ...</a>
										<A id="sqlbtn" name="sqlbtn" class="rnr-button" href="#">SQL Query</a>
										<A id="sql_query" class="various fancybox.iframe" href="web_query?name=where_condition&ie=UTF-8&iframe"></a>
										<A id="nextbtn" name="nextbtn" class="rnr-button" href="#">Next</a>
										@foreach (string _b_is_report_save in Model.GetSection("b_is_report_save", this)){
										<A id="saveasbtn" name="saveasbtn" class="rnr-button" href="#">Save as...</a>
										}															
										@foreach (string _b_is_report_name in Model.GetSection("b_is_report_name", this)){
										<A id="savebtn" name="savebtn" class="rnr-button" href="#">Save</a>
										}
										<A id="previewbtn" name="previewbtn" class="rnr-button" href="#">Preview</a>
										<A id="preview" class="various fancybox.iframe" href="dreport?rname=@(Model.displayVar("report_name_preview"))&param=preview&ie=UTF-8&iframe"></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>		
		</div>
		@{Html.RenderSharedView("footer");}

        
        <style>@MvcHtmlString.Create(@"
{literal}
	div.action { position: absolute;  width: 170px; padding: 0; font-size:11px}
	td {font-size:11px}
{/literal}")</style>
<iframe id="framejump" style="display:none;position:absolute;" scrolling="no" frameborder="0"></iframe>
<div id="menujump" class=action style="display:none;position:absolute;">
	<table width=100% cellpadding=0 cellspacing=0 border=0 style="background-color:#F4F7FB;border: solid 1px blue;">
		<tr><td id=row0 style="cursor:pointer;padding:5px;">Tables</td></tr>
		<tr><td id=row1 style="cursor:pointer;padding:5px;">Table Relations</td></tr>
		<tr><td id=row2 style="cursor:pointer;padding:5px;">Where Condition</td></tr>
		<tr><td id=row3 style="cursor:pointer;padding:5px;">Group fields</td></tr>
		<tr><td id=row4 style="cursor:pointer;padding:5px;">Totals</td></tr>
		<tr><td id=row5 style="cursor:pointer;padding:5px;">Miscellaneous</td></tr>
		<tr><td id=row6 style="cursor:pointer;padding:5px;">Sort fields</td></tr>
		<tr><td id=row7 style="cursor:pointer;padding:5px;">Style Editor</td></tr>
		<tr><td id=row8 style="cursor:pointer;padding:5px;">Report Settings</td></tr>
		<tr><td id=row9 style="cursor:pointer;padding:5px;">Dynamic Permissions</td></tr>
		<tr><td id=row10 style="cursor:pointer;padding:5px;;border-top:1px solid blue;">Back to Web Reports menu</td></tr>
		<tr><td id=row11 style="cursor:pointer;padding:5px;">Back to main application</td></tr>
	</table>
</div>
       <iframe id="aframe" style="display:none;position:absolute;" scrolling="no" frameborder="0"></iframe>
        <div id="alert">
		</div>
    </body>
</html>